.page
    margin-top: 100px

    > h1
        text-align: center
        margin-bottom: 6rem

    > h3
        text-align: center
        color: $gama

    img
        border-radius: 15px
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 30px 60px 0 rgba(0, 0, 0, 0.19)

.about
    img
        width: 50%
        margin: 0 auto
        display: block
